<mat-toolbar color="primary">
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 1 100%" class="header">
        <div fxFlex="1 1 0%">Sweet WoW</div>
        <div fxFlex="1 1 100%">Menu</div>
        <div fxFlex="1 1 0%" class="mat-typography search">
            <mat-form-field appearance="outline" color="accent" floatLabel="never">
                <mat-label>Search for characters, guilds, realms</mat-label>
                <input matInput placeholder="Search for characters, guilds, realms">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </div>
        <div fxFlex="1 1 0%">
            <button mat-icon-button (click)="openAddDialog()">
                <mat-icon>account_circle</mat-icon>
            </button>
            <button mat-flat-button>
                Login
            </button>
            <button mat-flat-button color="accent">
                Sign Up
            </button>
        </div>
    </div>
</mat-toolbar>