<mat-card *ngIf="guild$ | async as guild; else NotFound">

  <mat-card-header>
      <!-- <div mat-card-avatar class="thumbnail" [ngStyle]="{'background-image': 'url(//render-eu.worldofwarcraft.com/guildacter/' + guild.thumbnail + ')'}"></div> -->
      <mat-card-title [ngStyle]="{'color': guild.side ? '#e02929' : '#69f'}">
          {{guild.name}}
      </mat-card-title>
      <mat-card-subtitle>
          <span [ngStyle]="{'color': guild.side ? '#e02929' : '#69f'}">
              {{guild.realm}}
          </span>
          <span [ngStyle]="{'color': guild.side ? '#e02929' : '#69f'}">
              {{guild.members}}
          </span>

      </mat-card-subtitle>
      <div class="refresh">
          <button mat-icon-button (click)="updateGuild(guild.id)" matTooltip="login to add bookmarks">
              <mat-icon>bookmark</mat-icon>
          </button>
          <button mat-icon-button (click)="updateGuild(guild.id)" matTooltip="refresh guild">
              <mat-icon>refresh</mat-icon>
          </button>
      </div>
  </mat-card-header>

  <mat-card-content>
      <mat-tab-group backgroundColor="primary">
          <mat-tab label="Talents">
              
          </mat-tab>
          <mat-tab label="Gear"> Content 2 </mat-tab>
          <mat-tab label="Achievements"> Content 3 </mat-tab>
      </mat-tab-group>
  </mat-card-content>
  <mat-card-footer>
      Last updated: {{guild.lastModified | date:'h:mm a, dd LLLL yyyy'}}
  </mat-card-footer>

</mat-card>

<ng-template #NotFound>
  <mat-spinner></mat-spinner>

  <button mat-button (click)="addGuild()">Add Guild</button>
</ng-template>