<mat-card *ngIf="character$ | async as char; else NotFound">

    <mat-card-header>
        <div mat-card-avatar class="thumbnail" [ngStyle]="{'background-image': 'url(//render-eu.worldofwarcraft.com/character/' + char.thumbnail + ')'}"></div>
        <mat-card-title [ngStyle]="{'color': char.faction ? '#8C1616' : '#144587'}">
            {{char.name}}
        </mat-card-title>
        <mat-card-subtitle>
            <span [ngStyle]="{'color': char.faction ? '#8C1616' : '#144587'}">
                {{char.gender ? 'Female': 'Male'}} {{char.race | characterRace | async}}
            </span>
            <span charClass [charId]="char.class">
                {{char.spec.name}} {{char.class | characterClass | async}}
            </span>

        </mat-card-subtitle>
        <div class="refresh">
            <button mat-icon-button (click)="updateChar(char.id)" matTooltip="login to add bookmarks">
                <mat-icon>bookmark</mat-icon>
            </button>
            <button mat-icon-button (click)="updateChar(char.id)" matTooltip="refresh character">
                <mat-icon>refresh</mat-icon>
            </button>
        </div>
    </mat-card-header>

    <mat-card-content>
        <mat-tab-group backgroundColor="primary">
            <mat-tab label="Talents">
                <app-character-talents [charDocId]="char.id"></app-character-talents>
            </mat-tab>
            <mat-tab label="Gear"> Content 2 </mat-tab>
            <mat-tab label="Achievements"> Content 3 </mat-tab>
        </mat-tab-group>
    </mat-card-content>
    <mat-card-footer>
        Last updated: {{char.lastModified | date:'h:mm a, dd LLLL yyyy'}}
    </mat-card-footer>

</mat-card>

<ng-template #NotFound>
    <mat-spinner></mat-spinner>

    <button mat-button (click)="addChar()">Add Character</button>
</ng-template>